<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <h3>Chào bạn tôi là quản lý NTH Store</h3>
    <h4> {{{message.title}}}</h4>
    {{{message.message}}}
  </body>
</html>
