<html>
  <head>
    <meta charset='utf-8' />
    <title>Example App</title>
  </head>
  <body>
    <div class='mail'>
      <h1 class='mail-title'>
        {{{title}}}
      </h1>
      <div class='mail-body'>
        {{{text}}}
        <a href={{{link}}}>CLick me</a>
      </div>
    </div>
  </body>
</html>
