<html>
  <head>
    <meta charset='utf-8' />
    <title>Example App</title>
  </head>
  <body>
    <div class='mail'>
      <h3 class='mail-title'>
        {{{message.title}}}
      </h3>
      <div class='mail-body'>
        {{{message.text}}}
        <a href={{{message.link}}}>CLick me</a>
      </div>
    </div>
  </body>
</html>
